<div class="project" id="<%= dom_id project %>">

<div class="card-body">

  <h5 class="card-title"> <%= project.title %> </h5>
  <p class="card-text"> <%= project.description %> </p>
  

  
</div>
</div>
