<!DOCTYPE html>
<html lang="en">
<head>
  <title>Portfolio</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>

<style> 

.btn-1 {

  Color: white;
  background-color: green;

}

.btn-2 {

  Color: white;
  background-color: pink;

}
.btn-3 {

  Color: white;
  background-color: orange;


}
</style> 

</head>
<body>
<div class="container p-4 bg-dark text-white">
  <div class="col  d-flex justify-content-end align-items-start">
  <button class="btn btn-primary text-dark  bg-light" type="button">Sign In</button>
</div>
  <div class="page-header"> 
    <h1> Portfolio </h1>
  </div>
  <p> Hello! I'm a <a href="https://eas.uccs.edu/cs/academics/undergraduate-programs/bachelor-of-science-in-computer-science">CS</a> student at UCCS in Colorado</p>
</div>

<div class=container> 
  <h4> Programming languages </h4> 
  <ul>
  <li> C/C++ </li> 
  <li> Rust </li> 
  <li> Python </li> 
  <li> APL </li> 
  <li> Lisp </li> 
  <li> Manta </li> 

  </ul>
  <h4> Technical Skills </h4> 
  <ul>
  <li> Juggling Sharp Things</li> 
  <li> Small Talk </li> 
  <li> Sandskrit </li> 
  <li> Small Talk in Sanskrit</li> 
  <li> Water Adjacient Basket Making</li> 
  <li> Choosing good produce(except beets)</li> 

  </ul>
</div> 
<div class = "container p-4"> 
  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="/images/project.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Project 1</h5>
        <p class="card-text">Mollis pretium lorem primis senectus habitasse lectus scelerisque donec, ultricies tortor suspendisse adipiscing fusce morbi volutpat pellentesque, consectetur mi risus molestie curae malesuada cum. </p>
        <a href="#" class="btn btn-1">More</a>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/images/project.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"> Project 2</h5>
        <p class="card-text">Metus fringilla nec ullamcorper odio aliquam lacinia conubia mauris tempor, etiam ultricies proin quisque lectus sociis id tristique, integer phasellus taciti pretium adipiscing tortor sagittis ligula. </p>
        <a href="#" class="btn btn-2">More</a>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/images/project.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"> Project 3 </h5>
        <p class="card-text">Vivamus integer non suscipit taciti mus etiam at primis tempor sagittis sit, euismod libero facilisi aptent elementum felis blandit cursus gravida sociis erat ante, eleifend lectus nullam dapibus netus feugiat curae curabitur est ad.</p>
        <a href="#" class="btn btn-3 bg-orange">More</a>
        <br>
        <small class="text-muted">Last updated 4 mins ago</small></p>
        
      </div>
    </div>
</div?

</body>
</html>
